@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.AutoSlider {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .as-main{
    /* background: #0000002f; */
  }
  
  .as-main h1{
    font-family: Libre Baskerville,serif;
    padding: 1vw 5vw 1vw 5vw;
    width: 50vw;
    word-spacing: 3px;
    font-size: 3vw
  }
  
  .card-slider {
    /* display: flex; */
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  .slider-content{
    display: flex;
    transition: transform 0.2s ease-in-out;
  }
  .slider-content2{
    display: none;
<<<<<<< HEAD
  }
=======
    transition: transform 0.2s ease-in-out;
  }

>>>>>>> f7354657a0a4e3f8d9b9d9c4fe66db44e1549ad4
  .transformed-slider {
    transform: translateX(-190%);
    transition: transform 1.5s ease-in-out;
  }

  /* .card-slider .slider-content{
    width: 50%;
  } */
  
  /* .card-slider .card {
    flex: 0 0 33.33%;
  }
   */

   .sliderbutton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    margin: 1vw;
  }
  
  .sliderbutton :hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04aa9c;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 20px 30px;
  min-width: 38vw;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: rgb(51, 215, 199);
  padding: 15px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin: 5vw; */
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}

.card-container{
  margin: 1vw 1vw;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 20px 20px 40px 50px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 65px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin: 5px;
  border: solid 3px #A6A57A;
}

@media(max-width:600px) {

  .slider-content2{
    display: flex;
    transition: transform 0.2s ease-in-out;
  }
  .slider-content{
    display: none;
    transition: transform 0.2s ease-in-out;
  }
  figure.snip1390 {
    margin: 12px;
    min-width: 70vw;
  }

}

@media (max-width: 767px) {
<<<<<<< HEAD
  .slider-content {
    transform: translateX(-10%);
  }
  .slider-content2{
    display: flex;
    transition: transform 0.2s ease-in-out;
  }
  .slider-content1{
    display: none;
  }
=======
  
>>>>>>> f7354657a0a4e3f8d9b9d9c4fe66db44e1549ad4
}
