.fp-container {
    background: linear-gradient(to right, rgba(121, 232, 217, 0.372) 0%, rgba(157, 208, 202, 0.298) 71%, #25bfab 71%, #25bfab 100%);
    width: 100vw;
    min-height: 100vh;
    font-family: monospace;
    width: 98.6vw;
    overflow: auto;
}

.fp-pg {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fp-pg-pt1 {
    background: #25bfab;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.319);
    width: 30vw;
    height: 39vw;
    border-radius: 3vw 0vw 0vw 3vw;

}

.fp-pg-pt2 {
    background: #eafffd;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.31);
    width: 60vw;
    height: 39vw;
    border-radius: 0vw 3vw 3vw 0vw;
    overflow-y: hidden;
    z-index: -1;
}

.fp_input{
    margin-top: 1.5vw;
}


.fp_container {
    width: 36vw;
    padding: 2vw;
    position: absolute;
    left: 48vw;
    top: 8vw;
    transition: transform .3s;
}

.fp_container>h1 {
    font-size: 2.5vw;
    margin-left: -2vw;
    font-family: 'Libre Baskerville', serif;
    transition: transform .8s;
    color: rgb(78, 77, 77);
    color: #041613;
    text-shadow: 2px 2px #06201c35;
}

.fp_thanks {
    font-size: 2.5vw;
    margin-left: -2vw;
    font-family: 'Libre Baskerville', serif;
    transition: transform .8s;
    color: rgb(78, 77, 77);
    color: #041613;
    text-shadow: 2px 2px #06201c35;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-25%,-50%);
}
.fp_container>.error {
    padding-top: 1vw;
    margin-left: -2vw;
    font-family: monospace;
    text-align: center;
    font-weight: 700;
    font-size: 0.7vw;
    color: red;
}
.fp_container>.para {
    font-family: monospace;
    margin: 0;
    margin-left: 7.8vw;
    font-size: 1.1vw;
    font-weight: 700;
}

.fp-doc-img {
    position: absolute;
    left: 16.35vw;
    bottom: 0;
    width: 32vw;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.31));
    transition: transform .9s;
}

.ffp-doc-img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.rg-float-img3 {
    width: 5vw;
    position: absolute;
    top: 12vw;
    left: 37vw;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.31));
}