@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.login-container {
    background: linear-gradient(to right, rgba(121, 232, 217, 0.372) 0%, rgba(157, 208, 202, 0.298) 71%, #25bfab 71%, #25bfab 100%);
    min-height: 100vh;
    font-family: monospace;
    box-sizing: border-box;
    width: 98.6vw;
    overflow: auto;
}

.login-pg {

    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;

}

.login-pg-pt1 {
    background: #25bfab;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.319);
    width: 30vw;
    height: 39vw;
    border-radius: 3vw 0vw 0vw 3vw;
    margin-top: 50px;
   
}

.login-pg-pt2 {
    background: white;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.31);
    width: 60vw;
    height: 39vw;
    border-radius: 0vw 3vw 3vw 0vw;
    margin-top: 50px;
    overflow-y: hidden;
}

.lg-doc-img {
    position: absolute;
    left: 11.3vw;
    bottom: -9.5vw;
    width: 32vw;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.31));
    transition: transform .9s;
}

.lg-doc-img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.float-img1{
    width: 5vw;
    position: absolute;
    top: 15vw;
    left: 12vw;
    filter: drop-shadow(10px 10px 10px  rgba(0, 0, 0, 0.31));
}
.float-img2{
    width: 5vw;
    position: absolute;
    top: 9vw;
    left: 28vw;
    filter: drop-shadow(10px 10px 10px  rgba(0, 0, 0, 0.31));
}
.float-img3{
    width: 5vw;
    position: absolute;
    top: 20vw;
    left: 40vw;
    filter: drop-shadow(10px 10px 10px  rgba(0, 0, 0, 0.31));
}
.float-img{
    transition: transform .6s;
}

.float-img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.lg-fields {
    position: relative;
    left: 21vw;
    top: 9vw;
    width: 32vw;
    height: 38vw;

}

.lg-fields>h1 {
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    transition: transform .8s;
    color: rgb(78, 77, 77);
    color: #041613;
    text-shadow: 2px 2px #06201c35;
    padding-bottom: 1vw;
}

.lg-fields>h1:hover{
    cursor: pointer;
    transform: scale(1.02);
    font-weight: 600;
    color: black;
}
.lg-input {
    display: block;
    border: 0.2vh solid grey;
    border-radius: 0.8vw;
    margin-bottom: 2.5vh;
    margin-top: 1vw;
    font-size: 1.2vw;
    width: 32vw;
    color: grey;
    font-weight: 600;
    padding: 0.6vw;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2.6vw;
}

.lg-input:focus {
    outline: none;
    overflow: hidden;
    border: 1px solid black;
    box-sizing: none;
}
.lg-input:hover {
    cursor: pointer;
    border: 2px solid black;
}

.icon-input {
    position: relative;
}

.i-icon1 {
    position: absolute;
    top: 1.5vw;
    font-size: 1.6vw;
    color: grey;
    left: 0.7vw;
}

.lg-password{
    position: relative;
}
.eye-icon {
    position: absolute;
    top: 0.48vw;
    font-size: 1.6vw;
    color: grey;
    left: 0.7vw;
}


.sp {
    display: inline-block;
    font-size: 1.2vw;
    font-weight: 600;
    transition: transform .5s;
    color: rgb(78, 77, 77);
}
.sp:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 700;
    color: black;
}

.sp-1 {
    padding-right: 1.2vw;
    padding-left: 1.4vw;
}
.hov-icon:hover {
    transform: scale(1.4);
    color: #25bfab;
}

.sp-2 {
    padding-right: 0vw;
}

.sp-3 {
    display: inline-block;
    padding-left: 5vw;
    font-weight: 900;
    color: #2aa091;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3vw;
    transition: transform .5s;
}

.sp-3:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.err-field{
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: red;
    font-weight: 600;
    text-align: center;
    font-size: 1vw;
}

/* button styling */
.button {
    display: inline-block;
    border-radius: 5px;
    background-color: #25bfab;
    border: 0.8vw solid transparent;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.4vw;
    width: 31.6vw;
    transition: all 0.5s;
    cursor: pointer;
    height: 3.5vw;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
    margin: 1vw 0vw;
    margin-top: 0;
    margin-bottom: 0.6vw;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.signup-rd {
    font-size: 1.2vw;
    text-align: center;
    padding-top: 0.5vw;
}

.signup-p {
    font-size: 1.4vw;
    font-weight: 800;
    color: #2a8b7e;
    font-family: 'Libre Baskerville', serif;
}

.signup-p:hover{
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .login-container {
        height: 134vh;
    
    }
    .login-pg {
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr;
        position: static;
        top: 4vw;
        left: 0%;
        transform: translate(25vw, 20vw);
    }

    .login-pg-pt1 {
        width: 50vw;
        height: 30vw;
        border-radius: 3vw 3vw 0vw 0vw;
    }

    .login-pg-pt2 {
        width: 50vw;
        height: 36vw;
        border-radius: 0vw 0vw 3vw 3vw;
    }

    .lg-doc-img {
        top: -23.3vw;
        left: 7.5vw;
        width: 36vw;
    }

    .float-img1{
        left: 7vw;
        top: 1vw;
    }
    .float-img3{
        left: 42vw;
        top: 5vw;
    }
    .float-img2{
        display: none;
    }


    .lg-fields {
        left: 7vw;
        top: 2vw;
    }
}


@media only screen and (max-width: 600px) {
    .login-container {
        height: 100vh;
    
    }
    .i-icon2 {
        top: 11.4vw;
    }
    .sp-3 {
        top: 15.5vw;
    }
}


