*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

a{
    color: white;
}

.nb-parent{
    height: 10vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center; 
    /* justify-content: center; */
    padding:4vw 4vw 5vw 4vw;
}
.nb-parent .nb-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap:15vw */
}
.nb-part1{
    gap:10px;
    display: flex;
    justify-content: center;
    /* margin-top: 8vw; */
}

.nb-parent .nb-part1{
    font-size: 3.0vw;
    text-decoration:none ; 
    color: black;
}
.nb-part1 img{
    height: 40px;
    width: 50px;
    margin-top: 0.5vw;
}

/* .nb-parent .nb-part2 {
    font-size: 1.52vw;
    margin-right: 2.5vw;
    display: flex;
    align-content: center; 
    gap: 4vw;
    list-style-type: none;
    cursor: pointer;
} */
/* .nb-parent .nb-part2 li:hover {
    font-size: 1.7vw;
    cursor: pointer;
} */


.nb-parent .nb-part2 {
    font-size: 1.8vw;
    margin-right: 3.3vw;
    margin-top: 1.5vw;
    display: flex;
    align-content: center; 
    gap: 1.7vw;
    list-style-type: none;
    font-family: Raleway;
    /* margin: 0 auto; */
	/* padding: 10em 3em; */
	/* text-align: center; */
    /* cursor: pointer; */
}
.nb-part2 li
{
    text-decoration: none;
    padding: 1vw;
    position: relative;
    z-index: 0;
}

.nb-part2 li:not(:nth-last-child(-n + 2)):before , .nb-part2 li:not(:nth-last-child(-n + 2)):after 
{
    position: absolute;
    top: 3vw;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #15a191;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.nb-part2 li:after
{
    border-width: 2px;
    transition: all 0.4s;
}

.nb-part2 li:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.nb-part2 li:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.nb-parent .nb-part2 .green-in{
    color: white;
    margin-left: 12vw;
    margin-right: 2vw;
}

.nb-parent .nb-part2 a{
    text-decoration:none ; 
      color:grey;
}

.nb-parent .hamburger-menu{
    font-size: 7.5vw;
    display:none;
    padding-right: 1.8vw;
    color: white;
}

.nb-parent .nb-part21 {
    width: 24%;
    background: #f9f5f5d7;
    border-radius:10px;
    margin-top: 25.5vw;
    color: grey;
    /* top:40vh; */
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 3vw;
    z-index: 99;
     padding: 2vw 1vw 2vw 1vw;

    list-style-type: none;
}

.nb-parent .nb-part21 a{
    text-decoration:none ; 
      color:grey;
}

.nb-parent .nav-btn{
    display: flex;
    align-items: center;
   height: 5vw;
   width: 5vw;
   padding-top: 1vw;
}
.nb-parent .nav-btn img{
    height: 100%;
    width: 100%;
 } 
.nb-parent .nb-nav-btn:hover{
    background-color: gray;
}

@media (max-width:625px) {
    .nb-parent{
        height: 8vh;
        padding: 0.5vw 4vw 0vw 4vw;
    }

    .nb-parent .nb-part1 .div1{
        margin-top: 2vw;
        font-size: 6vw;
    }

    .nb-parent .nb-child{
        /* gap:50vw; */
        margin-right:2vw;
    }
    .nb-parent .nb-part1{
        font-size: 5vw;
        margin-top: 1vw;
    }
    .nb-parent .nb-part2 li{
        display: none;
    }
    .nb-parent  .hamburger-menu{
       display: block;
    }
    .nb-parent .nav-btn{
        font-size: 2.5vw;
    }
}
