.title {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 0px 45px;
    padding-left: 92px;
    font-size: 30px;
    position: relative;
}


.header_span {
    display: inline;
    color: #765757;
}


.auth_h2 {
    display: inline;
    font-size: 1vw;
    text-decoration: none;
    right: 2vw;
    top: 7.5vw;
    position: absolute;

}

.icon {
    display: none;
}

.logo:hover {
    /* transform: scale(1.2); */
    color: black;
}

.logo {
    display: inline-block;
    /* transition: transform .6s; */
}

.nav_logo {
    width: 4vw;
    position: absolute;
    top: 0.3vw;
    left: 3vw;
}

.title span {
    margin-top: 0.5vw;
    font-size: 3vw;
    font-weight: 700;
    color: #24766C;
    font-family: 'Signika Negative', sans-serif;
}

.nav-bar {
    display: grid;
    grid-template-columns: 20vw 80vw;
    background: linear-gradient(to right, rgba(121, 232, 217, 0.372) 0%, rgba(157, 208, 202, 0.298) 71%, #25bfab 71%, #25bfab 100%);
    padding: 1vw;
    overflow-x:hidden ;
}

.nav-bar.active {
    background: none;
    background-color: rgba(121, 232, 217, 0.372);
}

.list {
    font-family: 'Signika Negative', sans-serif;
    margin-top: 0vw;
    margin-right: 2.2vw;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.6vw;
    font-weight: 600;
}

.show {
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: grid;
}

.logo1 {
    text-decoration: none;
    color: #24766C;
    padding-left: 8px;
}

.anchor {
    display: inline-block;
    text-decoration: none;
    padding: 15px 2vw;
    color: #0d534b;
    transition: transform .3s;
}

.anchor:hover {
    text-decoration: underline;
    transform: translateY(10%);
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.nav_schedule {
    display: inline-block;
    text-decoration: none;
    padding: 15px 0vw;
    color: #0d534b;
    transition: transform .3s;
    margin-left: 6vw;
    margin-right: 2vw;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 0px;
    padding-right: 5px;

    /* text-decoration: underline; */
    color: rgba(231, 251, 248, 0.906);
}

.nav_schedule:hover {
    text-decoration: none;
    transform: translateY(8%);
    cursor: pointer;
    font-weight: 600;
}



.nav_login_button {
    display: inline-block;
    border-radius: 5px;
    background-color: #25bfab;
    border: 2px solid rgba(231, 251, 248, 0.906);
    color: rgba(231, 251, 248, 0.906);
    text-align: center;
    font-size: 1.4vw;
    width: 10vw;
    transition: all 0.5s;
    cursor: pointer;
    height: 2.8vw;
    font-weight: 600;
    margin: 0.8vw 0vw;
    margin-right: 4.5vw;
}

.nav_login_button:hover {
    border: 2px solid rgba(233, 242, 241, 0.906);
    color: white;
}

.nav_login_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nav_login_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nav_login_button:hover span {
    padding-right: 25px;
}

.nav_login_button:hover span:after {
    opacity: 1;
    right: 0;
}


@media screen and (max-width:950px) {

    /* 510 */
    .title {
        padding: 4vw 1vw;
        padding-left: 9vw;
    }

    .nav-bar {
        grid-template-columns: 1fr;
    }

    .title span {
        float: left;
        font-size: 6vw;
    }

    .auth_img {
        margin-top: -20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 0vw;
    }

    .auth_img:hover {
        display: inline;
        transform: translate(0);
    }

    .auth_none_h2 {
        display: block;
        font-size: 8px;
        padding-top: 0vw;
        text-decoration: none;
    }

    .list {
        display: none;
    }

    .show {
        display: grid;
        grid-template-columns: repeat(1fr);
        font-size: 15px;
        background-color: #f7f6ee;
        padding: 8px 0;
        padding-bottom: 0px;
        border-radius: 10px;
        position: absolute;
        margin: 0 1%;
        animation: ring 3s ease-in-out;
        width: 150px;
        right: 8vw;
        top: 15vw;
        z-index: 100;
        text-align: center;
        box-shadow: 0.2px 0.2px 5px rgba(128, 128, 128, 0.481);
        padding: 16px 22px;
        padding-bottom: 20px;
        border-radius: 20px;
    }

    .icon {
        display: inline-block;
        position: absolute;
        right: 5%;
        font-weight: 900;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 1.4vw;
    }

    .icon:hover {
        cursor: pointer;
    }

    .anchor {
        display: inline-block;
        text-decoration: none;
        padding: 5px;
        color: #987474;
        transition: transform .3s;
    }

    .header_span {
        display: block;
        text-align: center;
        color: #765757;
    }

    .anchor:hover {
        text-decoration: none;
        transform: translateY(0%);
        cursor: pointer;
        color: #765757;
        font-weight: 900;
    }

    #blog {
        grid-column: 1/3;
    }
}