
.topsec_section {
    display: grid;
    grid-template-columns: 70vw 30vw;
    background: linear-gradient(to right, rgba(121, 232, 217, 0.372) 0%, rgba(157, 208, 202, 0.298) 71%, #25bfab 71%, #25bfab 100%);
    height: 86.8vh;
    overflow: hidden;
}

.topsec_sec1 {
    width: 44vw;
    margin-top: 4vw;
    margin-left: 5vw;
}

.topsec_banner{
    width: 25vw;
    margin-bottom: -1vw;
    margin-left: 4vw;
}

.topsec_h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 45px;
    color: #041613;
    text-shadow: 2px 2px #06201c35;
}

.topsec_para_container {
    padding: 1vw 1.6vw;
    width: 39vw;
}

.topsec_p {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    color: #041613;
    font-size: 19px;
}


.topsec_buttons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.topsec_button1 {
    width: 15vw;
    background-color: #2a8478;
    margin-left: 1.5vw;
}


.topsec_button2{
        display: inline-block;
        border-radius: 5px;
        background-color: #97d2cbb8;
        border: 0.8vw solid transparent;
        color: #042923;
        text-align: center;
        font-size: 1.4vw;
        width: 15vw;
        transition: all 0.5s;
        cursor: pointer;
        height: 3.5vw;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        font-weight: 200;
        margin: 1vw 0vw;
        margin-bottom: 0.6vw;
        margin-left: -3.5vw;
}

.topsec_button2:hover {
    color: white;
    background-color: #25bfab;
}


.topsec_button1 span,.topsec_button2 span {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
}

.top_sec_docimg {
    position: absolute;
    top:5.5vw;
    right: 3.8vw;
    width: 44.5vw;
}